#sidebar > ul, #sidebar > ul > li > ul {
    list-style-type: none;
    padding-left: 0px;
    margin: 0px;
    margin-left: 20px;
}

#sidebar > ul > li > ul > li{
    padding-left: 10px;
}

#sidebar a:hover {
    text-decoration: none;
}

#sidebar li{
    padding: 5px;
}

#sidebar a{
    color: #555;
}
#sidebar a:hover{
    color: #000;
}